@import "../bower_components/bourbon/dist/bourbon";

* { @include box-sizing(border-box); }

$mainFont:    Lato, sans-serif;
$primary-color: #333;

html { 
  background: url(http://i.imgur.com/Kv0QPkZ.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
}

a {
	transition: all .2s ease-in-out; 
}

a:hover {
	opacity: .5;
	transform: scale(1.1);
	color: black;
	opacity: 1;
}

header {
	width: 100%;
	height: 345px;
	background-color: rgba(46, 204, 113, .9);
	img {
		height: 175px;
		width: 175px;
	}
}

#counterClock {
	-webkit-animation:spin 13s linear infinite reverse;
  -moz-animation:spin 13s linear infinite reverse;
  animation:spin 13s linear infinite reverse;
  animation-delay: 2s;
}

#clock {
	position: relative;
	top: 115px;
	right: 59px;
	-webkit-animation:spin 13s linear infinite;
  -moz-animation:spin 13s linear infinite;
  animation:spin 13s linear infinite;
  animation-delay: 2s;
 }

 .logo {
 	text-align: center;
 	padding: 24px 0 0 45px;
 }

.transLayer {
	width: 100%;
	height: 300px;
	.transContainer {
		max-width: 970px;
		margin: 0 auto;
	}
	
	#transPara {
		text-align: center;
		color: white;
		font-size: 2.6em;
		font-family: $mainFont;
		position: relative;
		top: 75px;
		text-shadow: -3px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
		text-transform: uppercase;

		@media screen and (max-width: 480px) {
		font-size: 2em;
		}
	}

	#transPara2 {
		text-align: center;
		color: white;
		font-size: 2.6em;
		font-family: $mainFont;
		position: relative;
		top: 45px;
		text-shadow: -3px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;

		@media screen and (max-width: 480px) {
		font-size: 2em;
		}
	}
}

.photosLayer {
	width: 100%;
	height: 500px;
	background-color: rgba(46, 204, 113, .9);
	@media screen and (max-width: 480px) {
			display: none;
		}
	// Alternative to slider 
	// @media screen and (max-width: 480px) {
	// 		height: 1390px;
	// 		}
	.photosContainer {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		padding-top: 28px;
		img {
			height: 437px;
			width: 33.3%;
			float: left;
			border-radius: 50%;
			padding: 25px;
			box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.29);
			@media screen and (max-width: 480px) {
			width: 100%;
		}
		}
	}
}

footer {
	width: 100%;
	height: 300px;
	background-color: #7f8c8d;
	opacity: .9;
	overflow: hidden;
	
	@media screen and (max-width: 480px) {
		height: 100%;
		}

	.map {
		height: 300px;
		width: 50%;
		float: left;
		
		@media screen and (max-width: 480px) {
		width: 100%;
		}
		
		img {
			height: 300px;
			width: 100%;
			opacity: .9
		}
	}
	.contactInfo {
		height: 300px;
		width: 50%;
		float: left;
		
		@media screen and (max-width: 480px) {
		width: 100%;
		}
	}
}

nav {
	width:100%;
	height: 55px;
	background-color: #1abc9c;
	box-shadow: 0px 0px 6px 1px #000000;
	
	@media screen and (max-width: 480px) {
		height: 110px;
		text-align: center;
		}
	
	a {
		text-decoration: none;
		color: white;
	}
}

//FOR MOBILE: swipejs styles 
.swipe {
  overflow: hidden;
  height: 300px;
  width: 100%;
  visibility: hidden;
  display: none;
  position: relative;
  @media screen and (max-width: 480px) {
  	display: block;
  	margin: 20px 0;
		border-bottom: solid white 2px;
		border-top: solid black 2px;
  	} 
}
.swipe-wrap {
  overflow: hidden;
  float:left;
  position: relative;
}
.swipe-wrap > div {  
  width:100%;
  position: relative;
  float: left;
}

#socialLinks {
	float: right;
	margin: 4px 100px;
	@media screen and (max-width: 480px) {
		margin-top: 12px;
		display: block;
		float: none;
		text-align: center;
		}

	a {
		font-size: 2.5em;
		padding: 0 5px;
	}
}

#navLogo {
	font-size: 2em;
	font-family: Maven pro;
	margin-left: 100px;
	position: relative;
	top: 9px;

	@media screen and (max-width: 480px) {
		margin: 0;
		}

	#thick {
		font-weight: bolder;
	}
	#thin {
		font-weight: lighter;
	}
}

footer {
	color: white;
	font-family: Armata;
	div {

	}
	h2 {
		text-align: center;
	}
	a {
		text-decoration: none;
		display: block;
		color: white;
		font-family: Armata;
		margin: 25px;
		padding-left: 0;
		text-align: center;

		i {
			font-size: 40px;
			margin-right: 15px;
		}
	}
}










